html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .landing-p {
  background-image: url(/assets/school1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body .landing-p .header {
  cursor: pointer;
  padding-top: 15px;
  margin: 20px;
}

body .landing-p .header .logo {
  display: inline-block;
}

body .landing-p .header .logo h1 {
  width: 50px;
  color: #E6222E;
  margin-bottom: 0;
}

body .landing-p .header .logo h1::first-letter {
  color: white;
}

body .landing-p .header .logo hr {
  width: 50px;
  float: left;
  margin: -3 0 0 0;
}

body .landing-p .header .logo p {
  width: 70px;
  color: #E6222E;
  margin: 0;
  text-transform: uppercase;
  color: #E6222E;
}

body .landing-p .header .logo p::first-line {
  color: white;
}

body .landing-p .burger-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  margin: 30px 20px 0 0;
  z-index: 100;
}

body .landing-p .burger-menu .line {
  z-index: 100;
  border: 1px slid black;
  border-radius: 5px;
  padding: 1.5px;
  width: 42px;
  background-color: white;
  margin: 3px;
  -webkit-box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.4);
}

body .landing-p .burger-menu .change1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 4px);
          transform: rotateZ(-45deg) translate(-8px, 4px);
}

body .landing-p .burger-menu .change2 {
  visibility: hidden;
}

body .landing-p .burger-menu .change3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -4px);
          transform: rotateZ(45deg) translate(-8px, -4px);
}

body .navvv {
  display: none;
}

body .change {
  opacity: 0.9;
  display: block;
  top: 20px;
  right: 0;
  left: auto;
  bottom: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  z-index: 90;
  height: 100vh;
  width: 30%;
  background-color: black;
  color: white;
}

@media (min-width: 375px) and (max-width: 509px) {
  body .change {
    width: 100%;
  }
}

body .change ul {
  margin: 65px 0 0 0;
  padding-top: 65px;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 375px) and (max-width: 509px) {
  body .change ul {
    padding-left: 0;
    margin: 115px 0 0 0;
  }
}

body .change ul li {
  margin: 4px;
  padding: 4px;
}

body .change ul li a {
  font-family: sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

body .change ul li a:hover {
  color: #E6222E;
}

body h1 {
  text-align: center;
}

body .idcover {
  margin: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .idcover .wraper {
  height: auto;
  width: 20%;
  margin: 10px;
}

body .idcover .wraper:hover {
  -webkit-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
}

body .idcover .wraper .id-img {
  height: 150px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

body .idcover .wraper .id-img img {
  height: 100%;
  width: 100%;
}

@media (min-width: 375px) and (max-width: 509px) {
  body .idcover .wraper .id-info ul {
    padding: 0;
  }
}

body .idcover .wraper .id-info ul li {
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body .idcover .wraper .bio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  height: 300px;
  margin-top: 20px;
  width: auto;
  background-color: black;
  color: white;
  top: 150px;
  padding: 10px;
}

body .idcover .wraperch {
  position: fixed;
  z-index: 100;
  top: 12vh;
  bottom: 8vh;
  left: 4vw;
  right: 4vw;
  width: auto;
  height: 37rem;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 1px 2px 4px black;
          box-shadow: 1px 2px 4px black;
}
/*# sourceMappingURL=docenti.css.map */