$colors:(
    primary: #E6222E,
    general: rgb(0,0,0),
    general2: rgba(0,0,0,0.7),
    basic:rgba(255,255,255,1.0),
    palat :#1D3557,
    hov: #80C6FF,
    span : #B0DFE5,
    grey: rgba(194, 189, 189, 0.3)

);



@function color($color-name){
    @return map-get($colors,$color-name)
};


html,
body{
    margin: 0;
    padding: 0;
    
    width: 100%;
    box-sizing: border-box;
};
body{
    .landing-p{
    
       // background-image: url(/assets/school4.jpeg);
        //background-position: center;
        //background-size: cover;
        //background-repeat: no-repeat;
        background-color:color(grey);
        margin: 0;
        padding: 0;
        overflow: hidden;
      .header{
          cursor: pointer;
          padding-top:15px ;
        margin: 20px;
        .logo{
            
            display: inline-block;
            

            h1{
                width: 50px;
               // border: 1px solid black;
            color: color(primary);
            margin-bottom: 0;

            &::first-letter{
                       color: color(general);
            }
  
              }

            hr{
            
                width: 50px;
                float: left;
                margin: -3 0 0 0 ;

            }

            p{
                width: 70px;
               // border: 1px solid black;
            color: color(primary);
            margin:0;
            text-transform: uppercase;
            color:color(primary);
    &::first-line{
         color: color(general);
}
            }
            }

        }
    .burger-menu{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        float: right;
        margin: 30px 20px 0 0;
        z-index: 100;
        
      
.line{
    z-index: 100;
    border: 1px slid black;
    border-radius: 5px;
    padding: 1.5px;
    width: 42px;
    background-color:color(basic);
    margin: 3px;
    box-shadow: 1px 3px 9px rgba(0,0,0,0.4);
    
}
.change1 {
    transform: rotateZ(-45deg) translate(-8px, 4px);
}
.change2 { 
    visibility: hidden;
}
.change3 {
    transform: rotateZ(45deg) translate(-8px, -4px);
}

}

    }
    .navvv{
    
          display: none;
    }
    .change{
        opacity: 0.9;
        display: block;
        top: 20px;
        right: 0;
        left: auto;
        bottom: auto;
        box-sizing: border-box;
        position: fixed;
        z-index: 90;
        height: 100vh;
        width:30%;
        background-color: color(general);
        color: color(basic);
        @media (min-width: 375px) and (max-width:509px) {
            width: 100%;
                 
             }
        ul{
            margin: 65px 0 0 0;
            padding-top: 65px;
            width: 100%;
            list-style: none;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            @media (min-width: 375px) and (max-width:509px) {
                padding: 0;
                 margin: 185px 0px 0 0;
                 
                  
                  }
            li{
               margin: 4px;
               padding: 4px;
                a{
                    font-family: sans-serif;
                    font-size: 30px;
                    text-decoration: none;
                    color: color(basic);
                    &:hover{
                        color: color(primary);
                    }
                }
            }
        }
    }
    .table{
        h1{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            margin: 30px;
        }
       background-color:  white;
       //border: 1px solid black;
       width: 100vw;
       height: auto;
       align-content: center;
       margin-top: 20px;
       .imgcav{
           //border: 1px solid red;
           width: 100%;
           height: 100%;
           display: flex;
           flex-flow: row wrap;
           justify-content: center;
           align-items: center;
           box-sizing: border-box;
           img{
               background-color: black;
               //box-sizing: border-box;
               width: 30%;
               margin: 5px;
               height: 300px;
           }
       }
    }
}